# ignore all files
*

# Mac special files
*/.DS_store
*/._*


# target list
!src
!LVGL_Arduino_Base/*
!LVGL_Arduino_LovyanGFX/*
!LVGL_Arduino_TFT_eSPI/*
!LVGL_Arduino_MultiCore
!LVGL_Arduino_MP3Player/*
!LVGL_Arduino_FontManager/*
!LVGL_Arduino_EEZ/*

