# ignore all files and directories
/*

# allow list
!.gitignore
!README.md
!LICENSE

!Documents
!LovyanGFX
!SD_Test
!TFT_eSPI
!TFT_graphicstest_PDQ

# VSCODE
*/.theia
*/.vscode

# Mac special files
*/.DS_store
*/._*

